In [149]:
import pandas as pd
import numpy as np

In [150]:
data = pd.read_csv("train.csv")

In [151]:
data.shape

(40455, 11)

In [152]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
19034,19034,0.32,Ideal,H,VVS1,61.2,56.0,4.44,4.48,2.73,6.562
39839,39839,0.55,Good,F,VS2,62.8,63.0,5.13,5.19,3.24,7.354
39783,39783,1.31,Very Good,F,VS1,59.1,60.0,7.13,7.18,4.23,9.190
38654,38654,1.20,Premium,I,SI1,61.7,56.0,6.82,6.76,4.19,8.491
32484,32484,0.31,Ideal,H,VVS1,62.2,56.0,4.34,4.37,2.71,6.561
12643,12643,0.32,Ideal,D,SI2,62.6,56.0,4.38,4.40,2.75,6.168
13899,13899,0.31,Very Good,E,VVS2,61.5,55.0,4.37,4.41,2.70,6.565
27788,27788,1.15,Premium,F,SI2,61.1,57.0,6.82,6.77,4.15,8.541
8182,8182,1.70,Very Good,G,VS2,63.1,57.0,7.53,7.62,4.78,9.676
39840,39840,0.37,Ideal,E,SI1,61.4,56.0,4.65,4.60,2.84,6.655

Cut, color, carat weight, and clarity are the essential traits of a diamond

In [153]:
data.describe()

,id,carat,depth,table,x,y,z,price
count,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000
mean,20227.000000,0.798543,61.746491,57.455736,5.731269,5.735275,3.539063,7.785853
std,11678.496907,0.475739,1.437124,2.228678,1.125312,1.154908,0.711317,1.016600
min,0.000000,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000,5.787000
25%,10113.500000,0.400000,61.000000,56.000000,4.710000,4.720000,2.910000,6.851000
50%,20227.000000,0.700000,61.800000,57.000000,5.700000,5.710000,3.530000,7.785000
75%,30340.500000,1.040000,62.500000,59.000000,6.540000,6.540000,4.040000,8.581500
max,40454.000000,5.010000,79.000000,79.000000,10.740000,58.900000,31.800000,9.843000

In [154]:
data["depth"] = data["depth"].div(100).round(6)
data["table"] = data["table"].div(100).round(6)
data["x"] = data["x"].div(100).round(6)
data["y"] = data["y"].div(100).round(6)
data["z"] = data["z"].div(100).round(6)

In [155]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
1752,1752,0.48,Premium,F,SI1,0.606,0.62,0.0506,0.0500,0.0305,7.012
32201,32201,0.30,Ideal,E,VVS2,0.624,0.54,0.0431,0.0434,0.0270,6.609
20834,20834,1.52,Very Good,J,VVS2,0.621,0.60,0.0733,0.0736,0.0456,9.341
14647,14647,0.45,Very Good,E,SI1,0.628,0.58,0.0484,0.0488,0.0305,6.746
31821,31821,2.16,Ideal,I,SI2,0.619,0.54,0.0829,0.0833,0.0514,9.624
2948,2948,0.52,Very Good,E,VS2,0.603,0.60,0.0517,0.0521,0.0313,7.432
11142,11142,0.36,Ideal,G,VVS2,0.617,0.54,0.0459,0.0462,0.0284,6.677
7142,7142,0.38,Premium,E,VS1,0.602,0.58,0.0471,0.0466,0.0282,6.974
9851,9851,0.42,Ideal,D,SI1,0.619,0.56,0.0484,0.0482,0.0299,6.947
35371,35371,0.31,Very Good,F,SI1,0.632,0.56,0.0431,0.0427,0.0271,6.497

In [156]:
data["cut"].unique()

array(['Premium', 'Good', 'Very Good', 'Ideal', 'Fair'], dtype=object)

In [157]:
data["color"].unique()

array(['G', 'H', 'J', 'F', 'E', 'I', 'D'], dtype=object)

### order of color from more valuable to less: D, E, F, G, H, I, J

In [158]:
data["clarity"].unique()

array(['VS1', 'VS2', 'SI2', 'IF', 'SI1', 'VVS2', 'VVS1', 'I1'],
      dtype=object)

### order of clarity from more valuable to less: IF, VVS1, VVS2, VS1, VS2, SI1, SI2, I1

## Reassign values to the column cut

In [159]:
dic_para_hot = { "Premium": 0.9,
                "Very Good": 0.7,
                "Good": 0.5,
                "Ideal":0.3,
                "Fair":0.1,
                
}
data.cut = data.cut.map(dic_para_hot)

In [160]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
23998,23998,1.00,0.5,E,SI2,0.640,0.54,0.0631,0.0626,0.0401,8.301
15068,15068,1.02,0.9,G,VS2,0.627,0.61,0.0639,0.0634,0.0399,8.699
39527,39527,0.41,0.7,I,VVS2,0.599,0.57,0.0487,0.0491,0.0293,6.931
25266,25266,0.36,0.9,J,SI1,0.616,0.60,0.0458,0.0454,0.0281,6.267
14793,14793,0.30,0.7,F,IF,0.620,0.58,0.0428,0.0430,0.0266,6.787
34777,34777,0.40,0.3,G,VVS1,0.620,0.56,0.0473,0.0476,0.0294,6.950
18594,18594,0.34,0.7,E,SI1,0.633,0.57,0.0447,0.0444,0.0282,6.571
15391,15391,0.80,0.7,I,VS2,0.633,0.55,0.0588,0.0593,0.0374,7.789
39777,39777,2.35,0.7,I,SI2,0.585,0.57,0.0872,0.0877,0.0512,9.624
12823,12823,1.04,0.7,F,SI1,0.634,0.59,0.0644,0.0640,0.0407,8.544

## Reassign values to the column color

In [161]:
dic_para_hot = { "D": 1,
                "E": 0.85,
                "F": 0.7,
                "G":0.55,
                "H":0.4,
                "I":0.25,
                "J":0.1
}
data.color = data.color.map(dic_para_hot)

In [162]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
23742,23742,0.86,0.7,0.85,VS2,0.623,0.560,0.0605,0.0608,0.0378,8.448
19074,19074,0.30,0.5,0.40,SI1,0.638,0.550,0.0420,0.0426,0.0270,6.068
22119,22119,1.00,0.1,0.40,VS1,0.654,0.610,0.0622,0.0617,0.0405,8.382
27796,27796,0.35,0.3,0.70,VS2,0.605,0.570,0.0460,0.0452,0.0276,6.809
16728,16728,1.12,0.9,0.40,SI1,0.612,0.590,0.0669,0.0665,0.0408,8.443
29847,29847,1.11,0.9,0.25,SI2,0.613,0.590,0.0669,0.0663,0.0409,8.214
16800,16800,1.53,0.3,0.25,SI2,0.637,0.580,0.0731,0.0727,0.0464,8.995
12807,12807,0.49,0.7,0.85,SI1,0.636,0.579,0.0496,0.0499,0.0316,7.244
4183,4183,0.35,0.3,0.40,IF,0.621,0.540,0.0455,0.0459,0.0284,6.788
14869,14869,0.90,0.7,0.85,SI2,0.632,0.590,0.0610,0.0615,0.0387,8.168

## Reassign values to the column clarity

In [163]:
dic_para_hot = {"F":1 
                "IF": 1,
                "VVS1": 0.87,
                "VVS2": 0.74,
                "VS1":0.61,
                "VS2":0.48,
                "SI1":0.35,
                "SI2":0.22,
                "I1":0.09
}
data.clarity = data.clarity.map(dic_para_hot)

In [164]:
data.sample(10)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
14962,14962,1.01,0.5,1.00,0.74,0.637,0.57,0.0629,0.0636,0.0403,9.099
23176,23176,1.50,0.5,0.40,0.61,0.638,0.61,0.0717,0.0712,0.0456,9.198
23170,23170,0.32,0.3,0.55,0.87,0.621,0.54,0.0440,0.0443,0.0274,6.687
10998,10998,0.56,0.3,0.85,0.48,0.619,0.56,0.0527,0.0532,0.0328,7.506
38102,38102,2.01,0.5,1.00,0.22,0.599,0.65,0.0807,0.0800,0.0481,9.728
34248,34248,1.51,0.3,0.55,0.61,0.617,0.54,0.0736,0.0741,0.0456,9.534
28504,28504,1.61,0.3,0.10,0.48,0.616,0.56,0.0752,0.0754,0.0464,9.121
33955,33955,0.71,0.3,1.00,0.61,0.604,0.60,0.0577,0.0582,0.0350,8.182
13049,13049,1.20,0.9,0.40,0.61,0.585,0.61,0.0698,0.0693,0.0407,8.813
28085,28085,0.51,0.3,0.85,0.48,0.612,0.57,0.0513,0.0516,0.0315,7.493

In [165]:
data.corr()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
id,1.000000,0.005008,-0.000086,-0.000801,-0.002384,-0.005396,0.002846,0.007422,0.007702,0.005633,0.007602
carat,0.005008,1.000000,0.119192,-0.295110,-0.353316,0.029747,0.182453,0.974714,0.944353,0.948460,0.920292
cut,-0.000086,0.119192,1.000000,-0.027550,-0.126375,-0.184523,0.438175,0.126615,0.116625,0.096909,0.096873
color,-0.000801,-0.295110,-0.027550,1.000000,-0.023353,-0.048786,-0.028571,-0.273433,-0.264744,-0.270077,-0.158279
clarity,-0.002384,-0.353316,-0.126375,-0.023353,1.000000,-0.064487,-0.164790,-0.372429,-0.356431,-0.365391,-0.214705
depth,-0.005396,0.029747,-0.184523,-0.048786,-0.064487,1.000000,-0.291668,-0.023705,-0.028183,0.095489,0.003437
table,0.002846,0.182453,0.438175,-0.028571,-0.164790,-0.291668,1.000000,0.197420,0.184191,0.152496,0.159969
x,0.007422,0.974714,0.126615,-0.273433,-0.372429,-0.023705,0.197420,1.000000,0.967309,0.966396,0.957815
y,0.007702,0.944353,0.116625,-0.264744,-0.356431,-0.028183,0.184191,0.967309,1.000000,0.941970,0.928896
z,0.005633,0.948460,0.096909,-0.270077,-0.365391,0.095489,0.152496,0.966396,0.941970,1.000000,0.930774
price,0.007602,0.920292,0.096873,-0.158279,-0.214705,0.003437,0.159969,0.957815,0.928896,0.930774,1.000000

In [166]:
data.drop(columns = ["x", "y", "z"], inplace = True)

In [167]:
data

          id  carat  cut  color  clarity  depth  table  price
0          0   1.01  0.9   0.55     0.61  0.627   0.58  8.754
1          1   0.60  0.5   0.55     0.48  0.643   0.57  7.492
2          2   1.60  0.9   0.40     0.22  0.594   0.59  9.010
3          3   0.30  0.7   0.10     0.61  0.635   0.58  6.227
4          4   1.00  0.7   0.70     0.22  0.628   0.57  8.314
...      ...    ...  ...    ...      ...    ...    ...    ...
40450  40450   0.51  0.3   0.85     0.48  0.625   0.55  7.412
40451  40451   0.80  0.3   0.40     0.48  0.621   0.54  8.016
40452  40452   1.53  0.9   0.55     0.22  0.587   0.59  9.070
40453  40453   1.51  0.3   0.25     0.48  0.616   0.54  9.199
40454  40454   1.00  0.3   0.85     0.48  0.621   0.57  8.932

[40455 rows x 8 columns]

In [168]:
X = data.drop(columns = ["id", "price"])
y = data.price

In [169]:
X.head()

   carat  cut  color  clarity  depth  table
0   1.01  0.9   0.55     0.61  0.627   0.58
1   0.60  0.5   0.55     0.48  0.643   0.57
2   1.60  0.9   0.40     0.22  0.594   0.59
3   0.30  0.7   0.10     0.61  0.635   0.58
4   1.00  0.7   0.70     0.22  0.628   0.57

In [170]:
from sklearn.model_selection import train_test_split

In [173]:
# Asigno las variables train test split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.2, random_state = 666)

In [174]:
from sklearn.linear_model import LinearRegression

In [175]:
lr = LinearRegression()

In [176]:

# Entrenamos el modelo
lr.fit(X_train,y_train)

LinearRegression()

In [177]:
y_pred = lr.predict(X_test)

In [178]:
from sklearn import metrics

In [179]:
print("MAE: ", metrics.mean_absolute_error(y_test, y_pred))
print("MSE: ", metrics.mean_squared_error(y_test,y_pred))
print("RMSE: ", np.sqrt(metrics.mean_squared_error(y_test,y_pred)))
print("R2: ", metrics.r2_score(y_test,y_pred))

MAE:  0.27953451655712036
MSE:  0.12119213740941555
RMSE:  0.34812661117676075
R2:  0.88246517701804

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
rfc = RandomForestRegressor()

In [ ]:
parameters = {'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [ ]:

#Reducimos para hacer la prueba con diferentes n_estimators
params = {
     'n_estimators': [400, 600,800],
    'max_features': ['auto']
    
}

In [ ]:

# Entrenon
rfc_params = RandomForestClassifier(n_estimators =  400)

In [ ]:
rfc_params.fit(X,y)