In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns
from sklearn.model_selection import GridSearchCV , KFold , cross_val_score
from sklearn.model_selection import GridSearchCV

In [15]:
data = pd.read_csv("train.csv")

In [16]:
dic_para_hot = { "Ideal": 0.9,
                "Premium": 0.7,
                "Very Good": 0.5,
                "Good":0.3,
                "Fair":0.1,
                
}
data.cut = data.cut.map(dic_para_hot)

In [20]:
dic_para_hot = { "D": 1,
                "E": 0.9,
                "F": 0.75,
                "G":0.60,
                "H":0.45,
                "I":0.25,
                "J":0.1
}
data.color = data.color.map(dic_para_hot)

In [21]:
dic_para_hot = { "IF": 1,
                "VVS1": 0.9,
                "VVS2": 0.8,
                "VS1":0.65,
                "VS2":0.6,
                "SI1":0.4,
                "SI2":0.3,
                "I1":0.1
}
data.clarity = data.clarity.map(dic_para_hot)

In [17]:
data["volume"] = data.x * data.y * data.z

In [18]:
data.drop(columns = ["x", "y", "z"], inplace = True)

In [22]:
data.head()

   id  carat  cut  color  clarity  depth  table  price      volume
0   0   1.01  0.7   0.60     0.65   62.7   58.0  8.754  159.322452
1   1   0.60  0.3   0.60     0.60   64.3   57.0  7.492   97.987554
2   2   1.60  0.7   0.45     0.30   59.4   59.0  9.010  258.210000
3   3   0.30  0.5   0.10     0.65   63.5   58.0  6.227   48.882960
4   4   1.00  0.5   0.75     0.30   62.8   57.0  8.314  164.911656

In [23]:
data["depth"] = data["depth"].div(100).round(6)
data["table"] = data["table"].div(100).round(6)
data["volume"] = data["volume"].div(100).round(6)

In [24]:
data.head()

   id  carat  cut  color  clarity  depth  table  price    volume
0   0   1.01  0.7   0.60     0.65  0.627   0.58  8.754  1.593225
1   1   0.60  0.3   0.60     0.60  0.643   0.57  7.492  0.979876
2   2   1.60  0.7   0.45     0.30  0.594   0.59  9.010  2.582100
3   3   0.30  0.5   0.10     0.65  0.635   0.58  6.227  0.488830
4   4   1.00  0.5   0.75     0.30  0.628   0.57  8.314  1.649117

In [25]:
X = data.drop(columns = ["id", "price"])
y = data.price

In [26]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [27]:
lr.fit(X, y)

LinearRegression()

In [29]:
y_pred = lr.predict(X)

In [30]:
from sklearn import metrics
import statsmodels.formula.api as smf

In [34]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from sklearn.model_selection import GridSearchCV

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_log_error,mean_squared_error, r2_score,mean_absolute_error

In [35]:
params = RandomForestRegressor(n_estimators =  800, bootstrap = True, min_samples_split = 10, max_depth = 20)

In [36]:
params.fit(X,y)

RandomForestRegressor(max_depth=20, min_samples_split=10, n_estimators=800)

In [37]:
y_pred = params.predict(X)

In [38]:
mse = mean_squared_error(y, y_pred)
mae = mean_absolute_error(y, y_pred)
rmse = mean_squared_error(y, y_pred)**0.5
r2 = r2_score(y, y_pred)

print('')
print('MSE    : %0.2f ' % mse)
print('MAE    : %0.2f ' % mae)
print('RMSE   : %0.2f ' % rmse)
print('R2     : %0.2f ' % r2)

MSE    : 0.00
MAE    : 0.05
RMSE   : 0.07
R2     : 1.00

In [40]:
data_test = pd.read_csv("./test.csv")

In [41]:
dic_para_hot = { "Ideal": 0.9,
                "Premium": 0.7,
                "Very Good": 0.5,
                "Good":0.3,
                "Fair":0.1,
                
}
data_test.cut = data_test.cut.map(dic_para_hot)

In [42]:
dic_para_hot = { "D": 1,
                "E": 0.9,
                "F": 0.75,
                "G":0.60,
                "H":0.45,
                "I":0.25,
                "J":0.1
}
data_test.color = data_test.color.map(dic_para_hot)

In [43]:
dic_para_hot = { "IF": 1,
                "VVS1": 0.9,
                "VVS2": 0.8,
                "VS1":0.65,
                "VS2":0.6,
                "SI1":0.4,
                "SI2":0.3,
                "I1":0.1
}
data_test.clarity = data_test.clarity.map(dic_para_hot)

In [44]:
data_test["volume"] = data_test["x"]*data_test["y"]*data_test["z"]

In [45]:
data_test.drop(columns = ["x", "y", "z"], inplace = True)

In [46]:
data_test["depth"] = data_test["depth"].div(100).round(6)
data_test["table"] = data_test["table"].div(100).round(6)
data_test["volume"] = data_test["volume"].div(100).round(6)

In [47]:
data_test.head()

   id  carat  cut  color  clarity  depth  table    volume
0   0   2.01  0.9   0.45     0.40  0.619   0.57  3.282903
1   1   0.49  0.3   1.00     0.65  0.575   0.60  0.815850
2   2   1.03  0.7   0.75     0.40  0.586   0.62  1.702932
3   3   0.90  0.5   0.90     0.40  0.630   0.56  1.450453
4   4   0.59  0.9   1.00     0.40  0.625   0.55  0.970704

In [48]:
X_test = data_test.drop(columns = ["id"])

In [49]:
y_test = params.predict(X_test)

In [50]:
data_test["price"] = y_test

In [51]:
data_test.drop(columns = ["carat", "depth", "table", "volume", "color", "cut", "clarity"], inplace = True)

In [52]:
data_test.head()

   id     price
0   0  9.764241
1   1  7.313900
2   2  8.501218
3   3  8.357550
4   4  7.513577

In [54]:
data_test.to_csv("./model_4.csv")